{% extends "base_page.html" %}

{% block page-title %}
Англо-русский словарь программиста
{% endblock %}

{% block page-lead %}
Отточите свои навыки. <br/>
Вы сможете тренироваться в переводе слов с английского на русский, а также добавить интересные лично вам слова.
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="project-contents">
    <h2 class="pb-2 border-bottom">Карта сайта</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Словарь</h3>
                <p>Список слов и их переводов. Просмотрите словарь перед тем, как проверять свои знания.</p>
                <a href="/dictionary-list" class="btn btn-primary">Посмотреть</a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Форма для добавления слова</h3>
                <p>Форма для добавления слова и его перевода. После добавления вы сможете встретить новое слово в тренажере.</p>
                <a href="/add-term" class="btn btn-primary">
                    Заполнить
                </a>
            </div>
        </div>
        <div class="col d-flex">
            <div class="icon-square text-bg-light d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <svg class="bi" width="1em" height="1em">
                    <use xlink:href="#cpu-fill"></use>
                </svg>
            </div>
            <div>
                <h3 class="fs-2">Тренировка</h3>
                <p>Проверьте свои знания</p>
                <a href="/train" class="btn btn-primary">
                    Проверить
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
